<p id="notice"><%= notice %></p>

<h1>Listing Myquotes</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Quote</th>
      <th>Background</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @myquotes.each do |myquote| %>
      <tr>
        <td><%= myquote.author %></td>
        <td><%= myquote.quote %></td>
        <td><%= myquote.background %></td>
        <td><%= link_to 'Show', myquote %></td>
        <td><%= link_to 'Edit', edit_myquote_path(myquote) %></td>
        <td><%= link_to 'Destroy', myquote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Myquote', new_myquote_path %>
